doc/_build/
.ipynb_checkpoints/
.kdev4/
cellpainting/resource_paths.py
cellpainting/test.html
cellpainting/test.js
cellpainting/temp.py
cellpainting/nim_ext.so
nim_ext/nim_ext.so
nim_ext/pmgen/
*.pkl
*.png
*.mrv
*.mol
*.pyc
pmgennim_ext_wrap.nim.cfg
pmgennim_ext_wrap.nim
pmgennim_ext_capi.c
.spyderproject
branch_info.txt
commit_msg.txt
snippets.txt
tags
